@model CarFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Color"></label>
                <input asp-for="Color" class="form-control" placeholder="Color...">
                <span asp-validation-for="Color" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="Year...">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="FuelType" asp-items="Html.GetEnumSelectList<CarRentingSystem.Infrastructure.Enums.FuelType>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="FuelType" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GearType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="GearType" asp-items="Html.GetEnumSelectList<CarRentingSystem.Infrastructure.Enums.GearType>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="GearType" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select asp-for="BrandId" class="form-control">
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand.Id">@brand.Name</option>

                    }
                </select>
                <span asp-validation-for="BrandId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId"></label>
                <select asp-for="LocationId" class="form-control">
                    @foreach (var location in Model.Locations)
                    {
                        <option value="@location.Id">@location.Name</option>

                    }
                </select>
                <span asp-validation-for="LocationId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

