@model CarDetailsServiceModel
@inject IDealerService dealerService
@inject ICarService carService
@{
    ViewBag.Title = "Car Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Brand</u></p>
            <p>Color: <b>@Model.Color</b></p>
            <p>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            @if (Model.Year == null)
            {
                <p>Year: <b>@Model.Year</b></p>
            }
            else
            {
                <p>Year: <b>Not mentioned</b></p>
            }
            <p>Fuel Type: <b>@Model.FuelType</b></p>
            <p>Gear Type: <b>@Model.GearType</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (await carService.HasDealerWithIdAsync(Model.Id, User.Id()))
                    {
                        <a class="btn btn-warning" asp-controller="Car" asp-action="Edit"
                           asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Car" asp-action="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                    }

                    @if (!Model.IsRented && (await dealerService.ExistsByIdAsync(User.Id())) == false)
                    {
                        <form class="ml-2" asp-controller="Car"
                              asp-action="Rent" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Rent" />
                        </form>
                    }
                    else if(await carService.IsRentedByUserWithIdAsync(Model.Id, User.Id()))
                    {
                        <form class="ml-2" asp-controller="Car" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Leave" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agent Info</h5>
                    <p class="card-text">Email:  @Model.Dealer.Email</p>
                    <p class="card-text">Phone Number: @Model.Dealer.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>

